
services:
  mongodb:
    image: mongo:6
    container_name: comp3123_mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: comp3123_backend
    ports:
      - "4000:4000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/comp3123_assignment
      - PORT=4000
    depends_on:
      - mongodb
    networks:
      - app-network
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: comp3123_frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:4000/api/v1
    depends_on:
      - backend
    networks:
      - app-network
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true

networks:
  app-network:
    driver: bridge

volumes:
  mongodb_data:
